<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<div class="row center">
<div class="col-md-8 col-md-offset-2">
<h3>Course Progress</h3>
<div class="progress">
  <div id="total-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @total_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @total_progress %>%">
    <span class="sr-only"><%= @total_progress %>% Complete (success)</span>
  </div>
</div>
<hr>
<section>
	<h4>Unit 1: Confused Words</h4>
	<div class="progress">
    <div id="total-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit1_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit1_progress %>%">
    		<span class="sr-only"><%= @unit1_progress %>% Complete (success)</span>
  		</div>
	</div>
</section>

<section>
	<h4>Unit 2: Sentence Fragments</h4>
	<div class="progress">
  		<div id="unit-2-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit2_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit2_progress %>%">
    		<span class="sr-only"><%= @unit2_progress %>% Complete (success)</span>
  		</div>
	</div>
</section>

<section>
	<h4>Unit 3: Run-on Sentences</h4>
	<div class="progress">
  		<div id="unit-3-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit3_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit3_progress %>%">
    		<span class="sr-only"><%= @unit3_progress %>% Complete (success)</span>
  		</div>
	</div>
</section>

<section>
  <h4>Unit 4: Comma Splices</h4>
  <div class="progress">
      <div id="unit-4-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit4_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit4_progress %>%">
        <span class="sr-only"><%= @unit4_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 5: Faulty Parallelism</h4>
  <div class="progress">
      <div id="unit-5-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit5_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit5_progress %>%">
        <span class="sr-only"><%= @unit5_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 6: Pronoun Agreement</h4>
  <div class="progress">
      <div id="unit-6-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit6_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit6_progress %>%">
        <span class="sr-only"><%= @unit6_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 7: Irregular Plurals</h4>
  <div class="progress">
      <div id="unit-7-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit7_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit7_progress %>%">
        <span class="sr-only"><%= @unit7_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 8: Comma Use</h4>
  <div class="progress">
      <div id="unit-8-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit8_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit8_progress %>%">
        <span class="sr-only"><%= @unit8_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 9: Semicolon Use</h4>
  <div class="progress">
      <div id="unit-9-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit9_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit9_progress %>%">
        <span class="sr-only"><%= @unit9_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 10: Colon Sentences</h4>
  <div class="progress">
      <div id="unit-10-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit10_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit10_progress %>%">
        <span class="sr-only"><%= @unit10_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 11: Apostrophe Use</h4>
  <div class="progress">
      <div id="unit-11-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit11_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit11_progress %>%">
        <span class="sr-only"><%= @unit11_progress %>% Complete (success)</span>
      </div>
  </div>
</section>

<section>
  <h4>Unit 12: Awkward Construction</h4>
  <div class="progress">
      <div id="unit-12-progress-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="<%= @unit12_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @unit12_progress %>%">
        <span class="sr-only"><%= @unit12_progress %>% Complete (success)</span>
      </div>
  </div>
</section>