<h1>Units</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ul>
			<% @units.each do |u| %>
				<section>
					<li>
						<%= link_to unit_path(u.id) do %><h3><%= u.id %>. <%= u.name %></h3><% end %>
						<p id="unit-description"><%= u.description %></p>
						<%= link_to "Interactive Questions", unit_question_path(:id => 1, :unit_id => u.id), class: "btn btn-large btn-primary", id: "question-button" %>
					</li>
				</section>
			<% end %>
		</ul>
	</div>
</div>

