<h1>Unit <%= @unit.id %>. <%= @unit.name %></h1>
<div class="row unit-content">
	<div class="col-md-8 col-md-offset-2">
		<p><%= @unit.description %></p>
		<hr>
		<%= render "examples#{ @unit.id }" %>
		<hr>
		<%= link_to "Move on to Interactive Questions", unit_question_path(:unit_position => 1, :unit_id => @unit.id), class: "btn btn-large btn-primary", id: "question-button" %>
	</div>
</div>
